{% extends "base.html" %}
{% block content %}
<div class="container ">
    <div class="jumbotron">
        <h3>Create Post</h3>
    <form id="new-post" action="/posts/new/{{ blog_id}}" method="post">
        <div class="form-group" >
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" name="title">
        </div>
        <div class="form-group" >
            <label for="content">Description</label>
            <textarea type="text" id="content" class="form-control" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Post</button>
        <a href="/posts/{{ blog_id}}" class="btn btn-info"  role="button">Back to Posts </a>

        <a href="/blogs" class="btn btn-warning"  role="button">Back to Blogs </a>

    </form>
    </div>
</div>
{% endblock %}