{% extends "base.html" %}
{% block content %}
<div class="container ">
    <div class="jumbotron">
    <h2>{{email}}'s blogs</h2>
         Please click on the blog to add/view posts..
        {% for blog in blogs %}
            <h3><a href="/posts/{{ blog._id }}">{{ blog.title }}</a></h3>
            <p>{{ blog.description }}</p>
            <hr>

        {% endfor %}

         <a href="/blogs/new"><button class="btn btn-primary">
             {% if blogs|length > 0 %}
             Add another Blog
             {% else %}
             No blogs yet.. Create
             {% endif %}
         </button></a>

   </div>
</div>
{% endblock %}